html {
  box-sizing: border-box; }

*,
*::after,
*::before {
  box-sizing: inherit; }

body {
  background-color: #8CAFDB;
  color: black;
  width: 75%;
  margin: auto; }

a {
  text-decoration: none;
  color: #4A86D4; }
  a:visited {
    color: #5587c9; }
  a:hover {
    color: #b1cbec; }

h1, h2, h3 {
  font-family: 'Bitter', Serif; }

body {
  font-family: 'Oxygen', Helvetica, Arial, Sans-Serif; }

button, .video-btn {
  font-size: 0.8em;
  font-family: 'Oxygen', Helvetica, Arial, Sans-Serif; }

header {
  max-width: 68em;
  margin-left: auto;
  margin-right: auto;
  background-color: #4A86D4; }
  header::after {
    clear: both;
    content: "";
    display: table; }

.header__flex-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: space-between;
  align-items: center; }

.header__logo {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 14.70196%; }
  .header__logo:last-child {
    margin-right: 0; }

.header__title {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 74.41059%;
  font-size: 1.5em;
  padding: 0 1.5em; }
  .header__title:last-child {
    margin-right: 0; }

nav {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 100%;
  background-color: #3866A1;
  font-size: 1.25em; }
  nav:last-child {
    margin-right: 0; }

nav a {
  padding: 0.25em 0.75em;
  margin: 0 0.25em;
  background-color: #1D3554; }

.info-box {
  background-color: #3866A1; }

footer {
  background-color: #4A86D4; }

button, .video-btn {
  padding: 0.75em;
  border-top: 1px solid;
  border-radius: 2em;
  text-decoration: none;
  vertical-align: middle; }

.video-btn {
  border-top: gray;
  background: #1D3554;
  color: white; }
  .video-btn:hover {
    background-color: #3e71b3; }
  .video-btn:active {
    background-color: #1d2354; }

video {
  width: 100%; }

.slider-track, input[type="range"] {
  width: 20em;
  height: 1em; }

.slider, input[type="range"]::-webkit-slider-thumb {
  width: 1em;
  height: 2em; }

input[type="range"] {
  -webkit-appearance: none;
  background-color: gray; }

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  background-color: #1D3554;
  opacity: 0.7; }
