/*----- CORE ELEMENTS -----*/

* {

}

body {
  background-color: #E2F0D6;
  color: black;
  margin: 0 0 100px;
}


main {
  width: 75%;
  margin: auto;
}

button {
   border-top: 1px solid #afb6ba;
   background: #154024;
   background: -webkit-gradient(linear, left top, left bottom, from(#93cca5), to(#154024));
   background: -webkit-linear-gradient(top, #93cca5, #154024);
   background: -moz-linear-gradient(top, #93cca5, #154024);
   background: -ms-linear-gradient(top, #93cca5, #154024);
   background: -o-linear-gradient(top, #93cca5, #154024);
   padding: 11.5px 23px;
   -webkit-border-radius: 21px;
   -moz-border-radius: 21px;
   border-radius: 21px;
   -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
   -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
   box-shadow: rgba(0,0,0,1) 0 1px 0;
   text-shadow: rgba(0,0,0,.4) 0 1px 0;
   color: white;
   font-size: 17px;
   font-family: 'Lucida Grande', Helvetica, Arial, Sans-Serif;
   text-decoration: none;
   vertical-align: middle;
   }
button:hover {
   border-top-color: #17a145;
   background: #17a145;
   color: #ccc;
   }
button:active {
   border-top-color: #7ac942;
   background: #7ac942;
   }


/*
button:focus {
  background-color: #BDD684;
}
button:hover {
  background-color: #BDD684;
}
button {
  background-color: #F6FFE0;
}

/*----- LINKS -----*/

a:link {
  text-decoration: none;
  color: green;
}
a:visited {
  color: #1F4254;
}
a:hover {
  color: white;
}


/*----- VIDEO -----*/

video {
  width:75%;
}



