header
  @include outer-container
  background-color: $header-color

.header__flex-container
  display: flex
  flex-direction: row
  flex-wrap: nowrap
  justify-content: center
  align-content: space-between
  align-items: center

.header__logo
  @include span-columns(2)

.header__title
  @include span-columns(9)
  font-size: 1.5em
  padding: 0 1.5em

nav
  @include span-columns(12)
  background-color: $nav-color
  font-size: 1.25em

nav a
  padding: .25em .75em
  margin: 0 .25em
  background-color: $navbtn-color

.video__title
  padding-left: 0.5em
  padding-top: 1.5em
  margin-bottom: 0

///

#video-controls
  background-color: blue

.info-box
  background-color: #3866A1
  padding: 1em

footer
  margin-top: 1em
  background-color: #4A86D4





