@import "video/index"

.main__video-container
  @include span-columns(9)
  @extend .video__container
  background-color: white

#video-controls
  @extend .video-controls
  background-color: $video-controlcolor

.main__info-box
  @extend .video__info
  background-color: $video-infocolor

input[type="range"]
  -webkit-appearance: none
  @extend .slider-track
  background-color: $slider-trackcolor

input[type="range"]::-webkit-slider-thumb
  -webkit-appearance: none
  @extend .slider
  background-color: $slider-controlcolor
  opacity: 0.7

.video-controls
  @include outer-container

.play-controls, .vol-controls, .screen-controls
  @include span-columns(4)


